p.test Sync Interface

p Drop DB
a(href="/lists/del") DROP ALL TABLES!

p Get all Coins
a(href="/lists/test") Get Coins

p Get new Images
a(href="/lists/img") Get new Images

p Get Metadata
a(href="/lists/meta") Get Metadata
