head
  title BlaBla
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://code.highcharts.com/stock/highstock.js')
  script(src='/javascripts/price_charting.js')

p.heading #{name}

div#container(style="height: 700px; min-width: 310px")
